<!DOCTYPE html>
<html>
  <head>
    <title><%= Quiz Board %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Quiz Board %></h1>
    <p>Welcome to <%= the Onboarding Quiz board %></p>
  </body>
</html>
